{% extends 'app/base.html' %}

{% load static %}

{% block estilos %}

<link rel="stylesheet" href="{% static 'app/css/style.css' %}">
<link rel="stylesheet" href="{% static 'app/css/style_mobile.css' %}">

{% endblock %}

{% block contenido %}


{% if is_admin %}
    <div class="historial-movimientos-home"> 
        <h2>Historial de Movimientos de Empleados</h2>
        <hr>
        <form method="get" class="formulario-filtros-home">
            <div class="filtros-en-linea-home">
                <div class="filtro-group-home">
                    <label for="fecha_inicio" class="filtro-label-home">Inicio:</label>
                    <input type="date" id="fecha_inicio" name="fecha_inicio" value="{{ fecha_inicio }}" max="{{ fecha_hoy }}" class="filtro-input-home">
                    
                    <label for="fecha_fin" class="filtro-label-home">Fin:</label>
                    <input type="date" id="fecha_fin" name="fecha_fin" value="{{ fecha_fin }}" max="{{ fecha_hoy }}" class="filtro-input-home">
                </div>
                
                <div class="filtro-group-home">
                    <label for="empleado" class="filtro-label-home">Empleado:</label>
                    <select id="empleado" name="empleado" class="filtro-select-home">
                        <option value="">Todos</option>
                        {% for empleado in empleados %}
                        <option value="{{ empleado.id }}" {% if empleado_id == empleado.id|stringformat:"s" %}selected{% endif %}>{{ empleado.user.username }}</option>
                        {% endfor %}
                    </select>
                    
                    <label for="sucursal" class="filtro-label-home">Sucursal:</label>
                    <select id="sucursal" name="sucursal" class="filtro-select-home">
                        <option value="">Todas</option>
                        {% for sucursal in sucursales %}
                        <option value="{{ sucursal.id_sucursal }}" {% if sucursal_id == sucursal.id_sucursal|stringformat:"s" %}selected{% endif %}>{{ sucursal.descripcion }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <div class="botones-filtro-home">
                <button type="submit" class="button-magikstock">Filtrar</button>
                <button type="button" onclick="location.href='{% url 'home' %}'" class="button-magikstock">Restablecer</button>
            </div>
        </form>
    <hr>
        {% if movimientos.exists %}
        <div class="tabla-movimientos-container-home">
            <table class="tabla-movimientos-home">
                <thead>
                    <tr>
                        <th>Empleado</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Sucursal</th>
                        <th>Tipo de Movimiento</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for movimiento in movimientos %}
                    <tr>
                        <td data-label="Empleado">{{ movimiento.empleado.user.username }}</td>
                        <td data-label="Producto">{{ movimiento.producto.nombre_producto }}</td>
                        <td data-label="Cantidad">{{ movimiento.cantidad }}</td>
                        <td data-label="Sucursal">{{ movimiento.empleado.sucursal.descripcion }}</td>
                        <td data-label="Tipo de Movimiento">{{ movimiento.tipo_movimiento }}</td>
                        <td data-label="Fecha">{{ movimiento.fecha }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <p>No se encontraron movimientos en esta sucursal con los filtros aplicados.</p>
        {% endif %}
    </div>
{% endif %}


<div class="productos-bajo-stock-home">
    <h2>Productos con Bajo Stock</h2>
    <hr>
    {% if productos_bajo_stock %}
        <div class="proveedor-container-wrapper-home">
            {% for proveedor, productos in productos_bajo_stock %}
                <div class="proveedor-container-home">
                    <h3 class="proveedor-nombre-home">{{ proveedor }}</h3>
                    <div class="tabla-bajo-stock-container-home">
                        <table class="tabla-bajo-stock-home">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for producto in productos %}
                                    <tr>
                                        <td>{{ producto.nombre_producto }}</td>
                                        <td class="{% if producto.cantidad < 5 %}bajo-stock-home{% endif %}">{{ producto.cantidad }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No se encontraron productos con bajo stock.</p>
    {% endif %}
</div>

<script src="{% static 'app/js/full_scripts.js' %}"></script>

{% endblock %}