{% extends 'app/base.html' %}

{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'app/css/style.css' %}">
<link rel="stylesheet" href="{% static 'app/css/style_mobile.css' %}">
{% endblock %}

{% block contenido %}

<div class="def_container">

    <h2> Editar Proveedor</h2>
    <hr>
    <div class="top-section-editar-proveedor custom-form-section-editar-proveedor">
        <section class="estilos-stock-editar-proveedor" id="editar-proveedor">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                
                <div class="botones_editar">
                    <button type="submit" class="button-magikstock">Actualizar</button>
                    <button type="button" class="button-magikstock" onclick="window.location.href='{% url 'T1_Proveedor' %}'">Volver</button>
                </div>
            </form>
        </section>
    </div>
</div>

{% endblock %}