{% extends 'app/base.html' %}

{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'app/css/empleados.css' %}">
<link rel="stylesheet" href="{% static 'app/css/empleados_res.css' %}">

{% endblock %}

{% block contenido %}

<div class="estilo-div-editar-empleado">
    <br><h3>Editar Empleado</h3>
    <hr>

    <form method="post" id="edit-form-empleado">
        {% csrf_token %}
        
        <div class="container-editar-empleado">
            <div class="row-editar-empleado">
                <div class="col-md-6 form-group-editar-empleado">
                    <label for="first_name">Nombre</label>
                    <input type="text" id="first_name" name="first_name" value="{{ empleado.user.first_name }}" class="form-control-editar-empleado" required>
                </div>

                <div class="col-md-6 form-group-editar-empleado">
                    <label for="last_name">Apellido</label>
                    <input type="text" id="last_name" name="last_name" value="{{ empleado.user.last_name }}" class="form-control-editar-empleado" required>
                </div>
            </div>

            <div class="row-editar-empleado">
                <div class="col-md-6 form-group-editar-empleado">
                    <label for="email">Correo Electrónico</label>
                    <input type="email" id="email" name="email" value="{{ empleado.user.email }}" class="form-control-editar-empleado" required>
                </div>

                <div class="col-md-6 form-group-editar-empleado">
                    <label for="rut">RUT</label>
                    <input type="text" id="rut" name="rut" value="{{ empleado.rut }}" class="form-control-editar-empleado" required>
                </div>
            </div>

            <div class="row-editar-empleado">
                <div class="col-md-6 form-group-editar-empleado">
                    <label for="num">Número de Teléfono</label>
                    <input type="text" id="num" name="num" value="{{ empleado.num }}" class="form-control-editar-empleado" required>
                </div>

                <div class="col-md-6 form-group-editar-empleado">
                    <label for="rol">Rol</label>
                    <select id="rol" name="rol" class="form-control-editar-empleado">
                        <option value="empleado" {% if empleado.rol == "empleado" %}selected{% endif %}>Empleado</option>
                        <option value="administrador" {% if empleado.rol == "administrador" %}selected{% endif %}>Administrador</option>
                    </select>
                </div>
            </div>

            <div class="row-editar-empleado">
                <div class="col-md-6 form-group-editar-empleado">
                    <label for="sucursal">Sucursal</label>
                    <select id="sucursal" name="sucursal" class="form-control-editar-empleado" required>
                        <option value="">Seleccione una sucursal</option>
                        {% for sucursal in sucursales %}
                            <option value="{{ sucursal.id_sucursal }}" {% if empleado.sucursal and empleado.sucursal.id_sucursal == sucursal.id_sucursal %}selected{% endif %}>
                                {{ sucursal.descripcion }} 
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- Botones de Guardar y Volver -->
            <div class="mt-3-editar-empleado">
                <!-- Botón para guardar cambios -->
                <button type="submit" class="button-settings-editar-empleado">Guardar Cambios</button>
                
                <!-- Botón para volver a la lista de empleados sin guardar -->
                <button type="button" class="button-settings-editar-empleado" onclick="window.location.href='{% url 'T2_Employees_List' %}'">Volver</button>
            </div>
        </div>
    </form>
</div>
<script src="{% static 'app/js/full_scripts.js' %}"></script>

{% endblock %}