/* ESTILOS EMPRESARIALES -------------------------------------------
--------------------------------------------------------------------
-------------------------------------------------------------------- */

.button-magikstock {
    padding: 10px;
    background-color: #09b0a5e1;
    width: 100%;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.button-magikstock-mini {
    padding: 10px 15px;
    background-color: #09b0a5e1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px; 
    height: 40px; 
    line-height: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.button-magikstock:hover {
    background-color: #09b0a5;
    color: rgb(0, 0, 0);
}

.button-magikstock:active {
    background-color: #09b0a4;
    color: rgb(0, 0, 0);
    transform: translateY(2px) scale(0.90);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    filter: brightness(0.7);
}

.body-login-magikstock {
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    text-align: center;
}

/* ESTILOS DE LA BASE ----------------------------------------------
--------------------------------------------------------------------
-------------------------------------------------------------------- */

/* FONDO */

body {
    margin: 0;
    height: 100vh; 
    overflow: hidden; 
    position: relative;
}

.bg-overlay {
    background-image: url('../img/Fondo_.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    opacity: 0.15; 
}

/* BARRA LATERAL */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease; 
}

.sidebar-header {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.sidebar-icon {
    width: 70%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    margin-top: 20px;
}

.sidebar-icon:hover {
    transform: scale(1.4);
}

.nav-link {
    color: #fff;
    margin-bottom: 15px;
}

.nav-link.disabled {
    color: #09b0a4; 
}

.nav-link:hover{
    color: #09b0a4;
}

.sidebar-footer {
    margin-top: auto; 
    text-align: center; 
}

.nav-item {
    position: relative;
    list-style: none;
    margin: 0; 
    padding: 0;
}

.stock_contenidos {
    display: none;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 10px 0;
    border-radius: 5px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0; 
    transform: translateY(-10px);
    width: 100%;
}


.stock_contenidos.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.stock_contenidos a {
    display: block;
    padding: 10px 15px;
    color: black; 
    text-decoration: none; 
    transition: background-color 0.3s ease; 
}

.stock_contenidos a:hover {
    background-color: #09b0a4;
    color: white; 
    transform: scale(1.05);
}

/* BARRA HORIZONTAL */

.bottom-panel {
    transform: translateY(105%); 
    transition: transform 0.3s ease; 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px; 
    background-color: #333;
    color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1; 
}

.icons-container {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    height: 100%;
}

.icons-container a {
    display: inline-block;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.icons-container a:hover {
    transform: scale(1.4);
}

.icon {
    width: 40px; 
    height: auto;
}

.icon-items {
    width: 40px; 
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    cursor: pointer;
}

.icon-items:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.icono_stock_contenidos {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 12px 0;
    border-radius: 10px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(10px);
    min-width: 180px;
    bottom: 60px;
}

.icono_stock_contenidos.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.icono_stock_contenidos a {
    display: block;
    padding: 12px 20px;
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
    margin: 5px 10px;
}

.icono_stock_contenidos a:hover {
    background-color: #09b0a4;
    color: white;
}

.icono_stock_contenidos a:active {
    background-color: #087f73;
}

/* BLOQUE FLOTANTE */

.floating-block {
    position: fixed; 
    top: 20px; 
    left: calc(250px + 20px); 
    right: 20px; 
    bottom: 20px; 
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
    z-index: 0;
    overflow: auto; 
    min-width: 200px; 
    transition: top 0.3s ease, left 0.3s ease, right 0.3s ease, bottom 0.3s ease; /* Transiciones suaves */
    padding: 20px;
    max-width: 100%;
}


/* ESTILOS DEL LOGIN -----------------------------------------------
--------------------------------------------------------------------
-------------------------------------------------------------------- */

.login-container {
    background-color: rgba(255, 255, 255, 0.85); 
    max-width: 600px;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    margin: 0 auto; 
}

form {
    margin-top: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* ESTILOS DEL T4_SETTINGS -----------------------------------------
--------------------------------------------------------------------
-------------------------------------------------------------------- */

.button-settings {
    padding: 10px;
    background-color: #09b0a5e1;
    width: 40%;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px auto;
    display: block;
}

.input-group {
    display: flex; /* Alinear elementos usando flexbox */
    align-items: center; /* Alinear verticalmente */
}

.input-edit {
    width: 100%;
    padding: 10px; /* Padding consistente */
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: none; 
    height: 40px; /* Establecer altura fija para asegurar alineación */
    margin-top: 10px;
}

input[readonly] {
    background-color: #f0f0f0; /* Color más claro para campos bloqueados */
    color: #666; /* Color de texto más oscuro */
    cursor: not-allowed; /* Cursor que indica que no se puede editar */
}

input[readonly].editable {
    background-color: white; /* Color normal cuando se hace editable */
    color: black; /* Color de texto normal */
}


/* ESTILOS DE LA GESTIÓN DE EMPLEADOS ------------------------------
--------------------------------------------------------------------
-------------------------------------------------------------------- */

.table {
    width: 100%;
    border-collapse: collapse;
}


.table th, .table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

/* Estilo general para los botones en la tabla */
.table td .btn {
    display: inline-block;  /* Asegura que los botones se alineen correctamente */
    width: 100px;  /* Mantiene un ancho fijo para ambos botones */
    padding: 8px 12px;  /* Espaciado interno consistente */
    font-size: 14px;
    border-radius: 5px;  /* Bordes redondeados */
    text-align: center;  /* Centra el texto dentro del botón */
    margin-right: 5px;  /* Margen entre los botones */
    color: white;  /* Color de texto blanco */
    border: 1px solid transparent;  /* Bordes transparentes por defecto */
    cursor: pointer;  /* Muestra el cursor en forma de puntero */
}

/* Botón de Editar */
.table td .btn-warning {
    background-color: #f0ad4e;
    border-color: #eea236;
}

.table td .btn-warning:hover {
    background-color: #ec971f;
    border-color: #d58512;
}

/* Botón de Eliminar */
.table td .btn-danger {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.table td .btn-danger:hover {
    background-color: #c9302c;
    border-color: #ac2925;
}

/* SOLO PRODUCTO ------------------------------------------------
--------------------------------------------------------------------
-------------------------------------------------------------------- */

.acciones-title {
    display: table-cell; /* Mantiene el título en su lugar dentro del encabezado */
}

.form-eliminar {
    display: inline-block; /* Asegúrate de que el formulario no afecte a los demás elementos */
    margin: 0; /* Elimina cualquier margen por defecto */
    padding: 0; /* Elimina padding por defecto */
}

.boton_x, .btn-custom {
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px; 
    height: 40px; 
    line-height: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.btn-warning {
    background-color: #FFC107; /* Color amarillo para editar */
}

.btn-danger {
    background-color: #DC3545; /* Color rojo para eliminar */
}

.boton_y.btn-danger {
    background-color: #DC3545; /* Botón - */
}

.boton_y.btn-success {
    background-color: #28A745; /* Botón + */
}

.btn-success {
    background-color: #28a745; /* Color verde para el botón + */
    color: white;
}

.cantidad-container {
    display: flex; /* Utiliza Flexbox para el diseño */
    align-items: center; /* Alinea verticalmente los elementos al centro */
    justify-content: center; /* Centra los elementos horizontalmente */
}

.cantidad {
    margin: 0 10px; /* Agrega un margen a los lados para separar el texto de los botones */
    text-align: center; /* Asegura que el texto esté centrado */
}