{% extends 'app/base.html' %}

{% block contenido %}
<h2>Filtrar Historial</h2>
<form method="get">
    <label for="fecha_inicio">Fecha de Inicio:</label>
    <input type="date" id="fecha_inicio" name="fecha_inicio" value="{{ fecha_inicio }}">

    <label for="fecha_fin">Fecha de Fin:</label>
    <input type="date" id="fecha_fin" name="fecha_fin" value="{{ fecha_fin }}">

    <label for="empleado">Empleado:</label>
    <select id="empleado" name="empleado">
        <option value="">Todos</option>
        {% for empleado in empleados %}
        <option value="{{ empleado.id }}" {% if empleado_id == empleado.id %}selected{% endif %}>{{ empleado.user.username }}</option>
        {% endfor %}
    </select>

    <label for="sucursal">Sucursal:</label>
    <select id="sucursal" name="sucursal">
        <option value="">Todas</option>
        {% for sucursal in sucursales %}
        <option value="{{ sucursal.id }}" {% if sucursal_id == sucursal.id %}selected{% endif %}>{{ sucursal.nombre }}</option>
        {% endfor %}
    </select>
    
    <button type="submit">Filtrar</button>
    <button type="button" onclick="location.href='{% url 'home' %}'" class="btn-reset">Restablecer Filtros</button>
</form>

<h2>Historial de Movimientos de Empleados</h2>

{% if not movimientos %}
    <p>No se encontraron movimientos con los filtros aplicados.</p>
{% else %}
<table>
    <thead>
        <tr>
            <th>Empleado</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Sucursal</th>
            <th>Tipo de Movimiento</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        {% for movimiento in movimientos %}
        <tr>
            <td>{{ movimiento.empleado.user.username }}</td>
            <td>{{ movimiento.producto.nombre_producto }}</td>
            <td>{{ movimiento.cantidad }}</td>
            <td>{{ movimiento.empleado.sucursal.nombre }}</td>
            <td>{{ movimiento.tipo_movimiento }}</td>
            <td>{{ movimiento.fecha }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<h2>Productos con Bajo Stock</h2>
<table>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos_bajo_stock %}
        <tr>
            <td>{{ producto.nombre_producto }}</td>
            <td>{{ producto.cantidad }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}