/* MagikStock [Inicio] ----------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

@media (max-width: 929px) and (min-width: 801px) {
    .filtro-label-home {
        font-size: 0.9em;
    }
    .filtro-input-home,
    .filtro-select-home {
        font-size: 0.9em;
        padding: 7px;
        min-height: 35px;
    }
    .botones-filtro-home {
        width: 50%;
        gap: 15px;
    }
    .tabla-movimientos-home th, 
    .tabla-movimientos-home td, 
    .tabla-bajo-stock-home th, 
    .tabla-bajo-stock-home td {
        font-size: 0.8em;
    }
    .tabla-movimientos-container-home {
        max-height: 320px;
    }
    .tabla-movimientos-home, .tabla-bajo-stock-home {
        width: 100%;
        table-layout: fixed;
    }
    .tabla-movimientos-home th, .tabla-movimientos-home td {
        padding: 6px;
    }
    .tabla-movimientos-home th {
        font-size: 0.65em;
    }
    .proveedor-nombre-home {
        font-size: 1em;
        text-align: center;
    }
}

@media (max-width: 800px) {
    .filtros-en-linea-home {
        flex-direction: column;
        gap: 10px;
    }
    .filtro-group-home {
        flex-direction: column;
        align-items: flex-start;
    }
    .botones-filtro-home {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .producto-item-home {
        width: calc(50% - 10px);
    }
    .proveedor-container-home {
        flex: 1 1 100%;
        max-width: 100%;
    }
    .tabla-movimientos-container-home {
        max-height: 505px;
        overflow-y: auto;
        width: 100%;
        overflow-x: hidden;
        padding: 10px 0;
    }
    .tabla-movimientos-home {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        border-spacing: 0;
        border: none; 
    }
    .tabla-movimientos-home thead {
        display: none; 
    }
    .tabla-movimientos-home tr {
        display: block;
        background-color: #fff;
        padding: 10px;
        margin-bottom: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
        border: none;
        border-radius: 8px;
        overflow: hidden;
    }
    .tabla-movimientos-home td {
        display: block;
        width: 100%;
        padding: 8px;
        font-size: 0.8em;
        word-wrap: break-word;
        border: none;
        text-align: left;
    }
    .tabla-movimientos-home td::before {
        content: attr(data-label);
        font-weight: bold;
        color: #333;
        margin-right: 10px;
        flex-shrink: 0;
    }
}

@media (max-width: 480px) {
    .filtro-label-home {
        font-size: 0.9em;
    }
    .filtro-input-home,
    .filtro-select-home {
        font-size: 0.9em;
        padding: 6px;
        min-height: 35px;
    }
    .botones-filtro-home button {
        width: 80%; 
        font-size: 0.7em;
    }
    .producto-item-home {
        width: 100%;
    }
}

/* MagikStock [Gestión de stock] ------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

/* PRODUCTOS --------------------------------------------------------------------------- */
@media (max-width: 1344px) and (min-width: 1013px) {
    .filtro-proveedor-inline-producto {
        font-size: 0.8em;
    }
    .formulario-filtro-inline-producto {
        font-size: 0.8em;
        padding: 7px;
        min-height: 35px;
    }
    .boton_x-producto, .boton_y-producto {
        gap: 15px;
    }
    .table-producto th, 
    .table-producto td {
        font-size: 0.8em;
    }
    .table-producto th:nth-child(1),
    .table-producto td:nth-child(1) {
        width: 150px; 
    }
    .tabla-productos-container-producto {
        max-height: 320px;
        overflow-y: auto;
        width: 100%;
        table-layout: fixed;
    }
    .tabla-productos-container-producto th, 
    .tabla-productos-container-producto td {
        padding: 6px;
    }
    .tabla-productos-container-producto th {
        font-size: 0.65em;
    }
    .proveedor-nombre-producto {
        font-size: 0.8em;
        text-align: center;
    }
    .table-producto th:nth-child(5), 
    .table-producto td:nth-child(5) {
        display: none;
    }
}


@media (max-width: 1012px) and (min-width: 801px) {
    .table-producto th:nth-child(4), 
    .table-producto td:nth-child(4),
    .table-producto th:nth-child(5), 
    .table-producto td:nth-child(5) {
        display: none;
    }
    .cantidad-container-producto .boton_x-producto {
        display: none;
    }
    .tabla-productos-container-producto td {
        font-size: 0.65em;
    }
    .inline-buttons-producto .boton_y-producto {
        display: inline-flex; 
        padding: 4px 8px;
        font-size: 0.8em; 
        color: white;
        border: none;
        border-radius: 4px;
    }
    .table-producto th {
        font-size: 0.8em;
    }
    .table-producto th:nth-child(1),
    .table-producto td:nth-child(1) {
        width: 100px; 
    }
    .search-container {
        margin: 20px auto;
        width: 50%; 
    }
}   

@media (max-width: 800px) {
    .filtro-proveedor-inline-producto {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cantidad-container-producto .boton_x-producto {
        display: none;
    }
    .cantidad-container-producto {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .cantidad-producto {
        text-align: center;
        flex-grow: 1;
    }
    .inline-buttons-producto .boton_y-producto,
    .btn-action-producto {
        display: inline-flex; 
        font-size: 1.1em;
        padding: 0.4em 0.8em;
        color: white;
        border: none;
        border-radius: 4px;
        justify-content: center;
    }
    .tabla-productos-container-producto {
        max-height: 400px;
        overflow-y: auto;
    }
    .table-producto thead {
        display: none;
    }
    .table-producto tr {
        display: block;
        background-color: #fff;
        padding: 10px;
        margin-bottom: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
        border: none;
        border-radius: 8px;
        overflow: hidden;
        text-align: center; /* Alinea las filas de la tabla al centro */
    }
    .table-producto td {
        display: block;
        width: 100%;
        padding: 8px;
        font-size: 0.8em;
        word-wrap: break-word;
        border: none;
        text-align: center; /* Alinea el texto de las celdas al centro */
    }
    .table-producto td::before {
        content: attr(data-label);
        font-weight: bold;
        color: #333;
        margin-right: 10px;
    }
    .search-container {
        margin-top: 20px;
        margin-bottom: 5px;
        width: 70%; 
    }
}

@media (max-width: 550px) {
    .cantidad-container-producto .boton_x-producto {
        display: none;
    }
    .filtro-label-inline-producto {
        display: none;
    }
    .filtro-select-inline-producto option, 
    .filtro-select-inline-producto {
        font-size: 0.7em;
    }
    .cantidad-container-producto {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 5px;
    }
    .cantidad-producto {
        text-align: center;
        font-size: 1em; 
        flex-grow: 1;
    }
    .inline-buttons-producto .boton_y-producto,
    .btn-action-producto {
        display: inline-flex; 
        font-size: 1em;
        color: white;
        border: none;
        border-radius: 4px;
        justify-content: center; 
        margin: 2px; 
    }
    .tabla-productos-container-producto {
        max-height: 500px; 
        overflow-y: auto;
        padding: 0 5px;
    }
    .table-producto thead {
        display: none;
    }
    .table-producto tr {
        display: block;
        background-color: #fff;
        padding: 8px;
        margin-bottom: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
        border: none;
        border-radius: 8px;
        overflow: hidden;
        text-align: center;
    }
    .table-producto td {
        display: block;
        width: 100%;
        padding: 6px;
        font-size: 0.8em; 
        word-wrap: break-word;
        border: none;
        text-align: center;
    }
    .table-producto td::before {
        content: attr(data-label);
        font-weight: bold;
        color: #333;
        margin-right: 10px;
    }
    .filtro-proveedor-inline-producto .formulario-filtro-inline-producto .filtro-group button {
        font-size: 15px;
        padding: 0.3em 0.6em; 
        border-radius: 4px;
    }
    .tabla-productos-container-producto {
        max-height: 550px;
    }
}


/* CATEGORIAS --------------------------------------------------------------------------- */
@media (max-width: 859px) {
    .tabla-categorias thead,
    .tabla-categorias tbody {
        font-size: 0.8em;
    }
}

@media (max-width: 529px) {
    .table-responsive-categoria {
        max-height: 400px;
        overflow-y: auto;
    }
    .tabla-categorias thead {
        display: none;
    }
    .tabla-categorias tr {
        display: block;
        background-color: #fff;
        padding: 10px;
        margin-bottom: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
        border: none;
        border-radius: 8px;
        overflow: hidden;
        text-align: center; /* Alinea las filas de la tabla al centro */
    }
    .tabla-categorias td {
        display: block;
        width: 100%;
        padding: 8px;
        font-size: 0.8em;
        word-wrap: break-word;
        border: none;
        text-align: center; /* Alinea el texto de las celdas al centro */
    }
    .tabla-categorias td::before {
        content: attr(data-label);
        font-weight: bold;
        color: #333;
        margin-right: 10px;
    }  
}

/* CATEGORIAS --------------------------------------------------------------------------- */
@media (max-width: 1137px) {
    .table-proveedor thead,
    .table-proveedor tbody {
        font-size: 0.8em;
    }
}
@media (max-width: 1009px) and (min-width: 801px) {
    .table-proveedor th:nth-child(4), 
    .table-proveedor td:nth-child(4) {
        display: none;
    }
}
@media (max-width: 828px) and (min-width: 801px) {
    .table-proveedor th:nth-child(3), 
    .table-proveedor td:nth-child(3) {
        display: none;
    }
}

@media (max-width: 800px) {
    .table-responsive-proveedor {
        max-height: 400px;
        overflow-y: auto;
    }
    .table-proveedor thead {
        display: none;
    }
    .table-proveedor tr {
        display: block;
        background-color: #fff;
        padding: 10px;
        margin-bottom: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
        border: none;
        border-radius: 8px;
        overflow: hidden;
        text-align: center;
    }
    .table-proveedor td {
        display: block;
        width: 100%;
        padding: 8px;
        font-size: 0.9em;
        word-wrap: break-word;
        border: none;
        text-align: center; /* Alinea el texto de las celdas al centro */
    }
    .table-proveedor td::before {
        content: attr(data-label);
        font-weight: bold;
        color: #333;
        margin-right: 10px;
    }  
    .card_table tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    
    .table-proveedor tr:nth-child(odd) {
        background-color: #eeeeee;
    }
}

@media (max-width: 330px) {
    .table-proveedor td[data-label="Acciones:"]::before {
        content: '';
    }
}

/* MagikStock [Empleados] ----------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

@media (max-width: 1363px) and (min-width: 844px) {
    .table-empleados th, .table-empleados td {
        font-size: 0.85em;
        padding: 6px; 
    }
    .button-magikstock {
        transform: scale(0.9);
    }
}

@media (max-width: 1198px) and (min-width: 844px) {
    .table-empleados th, .table-empleados td {
        font-size: 0.6em;
        padding: 6px; 
    }
    .button-magikstock {
        transform: scale(0.8);
    }
}

@media (max-width: 1003px) and (min-width: 844px) {
    .table-empleados th:nth-child(2), 
    .table-empleados td:nth-child(2),
    .table-empleados th:nth-child(3), 
    .table-empleados td:nth-child(3) {
        display: none;
    }
    .button-magikstock {
        transform: scale(0.7);
    }
}

@media (max-width: 904px) and (min-width: 844px) {
    .table-empleados th:nth-child(6), 
    .table-empleados td:nth-child(6) {
        display: none;
    }
    .button-magikstock {
        transform: scale(0.6);
    }
}

@media (max-width: 843px){
    .table-responsive-empleado {
        max-height: 400px;
        overflow-y: auto;
    }
    
    /* Oculta el encabezado de la tabla */
    .table-empleados thead {
        display: none;
    }

    /* Convierte cada fila de la tabla en un bloque estilo tarjeta */
    .table-empleados tr {
        display: block;
        background-color: #fff;
        padding: 10px;
        margin-bottom: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
        border: none;
        border-radius: 8px;
        overflow: hidden;
        text-align: center;
    }

    /* Ajusta cada celda de la fila para ocupar toda la anchura */
    .table-empleados td {
        display: block;
        width: 100%;
        padding: 8px;
        font-size: 0.9em;
        word-wrap: break-word;
        border: none;
        text-align: center;
    }

    /* Añade una etiqueta para cada celda, usando el atributo data-label */
    .table-empleados td::before {
        content: attr(data-label);
        font-weight: bold;
        color: #333;
        margin-right: 10px;
    }

    /* Alterna los colores de fondo para filas pares e impares */
    .table-empleados tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    .table-empleados tr:nth-child(odd) {
        background-color: #eeeeee;
    }
    .botones_editar {                
        margin-top: 10px;            
    }
}

@media (max-width: 330px) {
    .table-empleados th:nth-child(6) {
        display: none;
    }
}
